@model WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "AutoStore: Ваша корзина";
}


<h2>Basket</h2>

<table id="cartTable" class="table">
    <thead>
        <tr>
            <th>Количество</th>
            <th>Наименование</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Итого</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var line in Model.Cart.Lines)
        {
        <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-left">@line.Auto.Name - @line.Auto.Manufacturer</td>
            <td class="text-right">@line.Auto.Price.ToString("# $")</td>
            <td class="text-right">@((line.Quantity * line.Auto.Price).ToString("# $"))</td>
            <td>
                @using (Html.BeginForm("RemoveFromCart", "Cart", new { autoID = line.Auto.Id }))
                {
                            @Html.Hidden("Id",line.Auto.Id)
                    @Html.HiddenFor(x=> x.ReturnURL)
                    <input class="btn btn-sm btn-warning" type="submit"value="Удалить"/>
                }
            </td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("# $")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnURL">Продолжить покупки</a>
    @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class="btn btn-primary" })
</div>



@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>CartIndexViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ReturnURL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ReturnURL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ReturnURL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
