<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <style>
        .navbar-right{
            float: right !important;
            margin-right : 15px;
            margin-left: 15px;
        }
      
    </style>
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <img class="navbar-left" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfucdF7m3o3tLCDO3_96nrMY-Q8hcLIYdwbUrf2Njh2F24wISB" width="50" height="50" />
        <a class="navbar-brand" href="/Autos/List">AutoStore</a>
        @if (string.IsNullOrWhiteSpace(Context.User.Identity.Name))
        {
            <button id="register" class="btn btn-default btn-primary " type="button" onclick="location.href='@Url.Action("Register", "Account")'">Register </button>
            <button id="login" class="btn btn-default " type="button" onclick="location.href='@Url.Action("Login", "Account")'">Login </button>
           
        }
        else
        if (Context.User.Identity.Name.ToUpper() != "ADMIN")
        {
            @Html.Action("OutBtn", "Account")

            @Html.Action("LoginStatus", "Account")
        }
        else
        {
            @Html.Action("OutBtn", "Account")

            @Html.Action("LoginStatus", "Account")
            <button id="adminPanel" class="btn btn-default btn-primary " type="button" onclick="location.href='@Url.Action("Index", "Admin")'">Panel</button>

        }

        @Html.Action("Summary", "Cart")
    </div>

    <div class="row panel">
        <div id="types" class="col-xs-3">
            @Html.Action("Menu", "Nav")
        </div>
           
        <div>
            <h1>GIT</h1>
            <h2>Hello, world!</h2>
            <h3>This is my site</h3>
            //Good morning
            <p>Kharkiv is quite an old city. It was founded about 350 years ago. The city is situated on the plateau surrounded by the Kharkiv and the Lopan rivers. According to the popular legend the city is named after Cossack Kharko. Kharkiv is the historical capital of Slobidska Ukraine. With the foundation of Kharkiv University in 1805 the city became an important educational and cultural centre of Ukraine and the Russian Empire as a whole. Such cultural figures as Kvitka-Osnovianenko, Hulack-Artemovsky, Kostomarov, Repin lived and worked in Kharkiv. Kharkiv was the capital of Ukraine since 1919 till 1934. Today Kharkiv is the second largest city in the country. About 2 million people live here.</p>
            <p>Kharkiv is one of the largest industrial centers in Ukraine. Its numerous enterprises produce planes, tractors, electronic, mining and medical equipment, TV-sets, refrigerators, paints and cosmetics, clothing and textiles. Furniture and printing industries are well developed in Kharkiv.</p>
</div>

        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>


    @*<div class="my-container">
        <hr />
        <div class="clearfix"></div>
        <footer>
            <p class="first-paragraph">&copy; @DateTime.Now.Year Victoria Bondar CS-31<br><a href="#top" class="right">back to top</p>
        </footer>
    </div>*@


</body>
</html>
